.BlogsBanner {
  background-image: url("../../assets/blogs/blogsBannerPage.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BlogsBannerOverlay {
  background-color: rgba(0, 0, 0, 0.6); /* black overlay with transparency */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BlogsBannerTitle {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .BlogsBanner {
    background-position: top;
    height: 60vh;
  }

  .BlogsBannerTitle {
    font-size: 2rem;
  }
}
