.modulesBanner {
  background-image: url("../../assets/modules/modulesBanner.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modulesBannerOverlay {
  background-color: rgba(0, 0, 0, 0.6); /* black overlay with transparency */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modulesBannerTitle {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .modulesBanner {
    background-position: top;
    height: 60vh;
  }

  .modulesBannerTitle {
    font-size: 2rem;
  }
}
